---
page_title: "{{.Name}} {{.Type}} - {{.RenderedProviderName}}"
subcategory: "Object Storage"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

See [Object Storage documentation](https://docs.thalassa.cloud/docs/iaas/storage/object-storage/).

Use service account access credentials for programmatic S3 access.

{{ if .HasExample -}}
## Example Usage

{{codefile "terraform" .ExampleFile}}
{{- end }}
{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile}}
{{- end }}
